  <!-- Image Gallery -->
  <div class="slider">
    <ul class="slides">
      <!-- First Image -->
      <li><img class="responsive-img" src="./assets/images/science_color.jpg"></li>
      <!-- Second Image -->
      <li><img class="responsive-img" src="./assets/images/protest-header_signs.jpg"></li>
      <!-- Third Image -->
      <li><img class="responsive-img" src="./assets/images/women.jpg"></li>
      <!-- Fourth Image -->
      <li><img class="responsive-img" src="./assets/images/immigrants.jpg"></li>
      <!-- Fifth Image -->
      <li><img class="responsive-img" src="./assets/images/fullpride.jpg"></li>
    </ul>
  </div>
<main>
  <!-- Cause Buttons -->
  <div class="btn-container center-align causes" style="margin-top: 20px; padding-bottom: 20px">
    {{#each causes}}
      {{>causes/cause-buttons}}
    {{/each}}
  </div>

  <!-- Events Div -->
  <div class="row">
    <div class="col s12 m7">
    <!-- Header -->
    <h3 class="header center header-title">Upcoming Events</h3>

      <!-- Generate event cards via handlebars -->
      {{#if events}}
      {{#each events}}
        {{>events/event-block}}
      {{/each}}
      {{else}}
      <h2 style="margin: 20px; margin-left: 14vw" class="center">Sorry, no events for this cause!</h2>
      {{/if}}

    </div>
  </div>
</main>
