.btn, nav {
    background-color:#43b5b1;
    font-family: 'Rubik', sans-serif;
}

.btn {
    margin: 5px;
}

li {
    font-family: 'Rubik', sans-serif
}

.brand-logo {
    margin-left: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Rubik', sans-serif
}

main {
    flex: 1 0 auto;
}

.location {
    font-size: 28px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px
}
.card {
    width: 75vw;
    margin: 20px;
}

.address {
    display: inline-block;
    margin-top: 5px;
}

.modal {
    max-height: 100%;
}

.tabs .tab a {
    color: rgba(243,173,82,.7);
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #ffab40;
}

.slider .indicators {
    bottom: 50px;
    z-index: 2;
}

.row .col.s12 {
    width: 90%;
}

/* Media Queries */
@media only screen and (max-width: 992px) {

    nav .brand-logo {
        left: 30%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
} 
@media only screen and (max-width: 600px) {

    nav .brand-logo {
        left: 25%;
    }
} 

@media only screen and (max-width: 500px) {

    nav .brand-logo {
        left: 20%;
    }
} 
@media only screen and (max-width: 400px) {

    nav .brand-logo {
        left: 10%;
    }
} 
